<div id="logo">
	<a href="/index.html"><img src="/images/xcoders128.png" alt="Seattle Xcoders" /></a>
</div>
<div id="sitetitle"><a class="site" href="/index.html">IEEE Student Group - UoA</a></div>
<div id="navbar">
	<ul class="menu">
		<li><a class = "first" href="/index.html">Home</a></li>
		<li><a href="/blog.html">Blog & News</a></li>
		<li><a href="/members.html">Members</a></li>
		<li><a href="/activities.html">Activities</a></li>
		<li><a href="/about.html">About</a></li>

	</ul>
</div>
