<div id="sidebar">
	<div id="upcoming" class="notice">
		<h3>Upcoming Events</h3>
			<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=180&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=64cakap669rr95f8dbqtn3i97k%40group.calendar.google.com&amp;color=%23853104&amp;ctz=Asia%2FTokyo" style="border-width:0" width="200" height="180" frameborder="0" scrolling="no"></iframe>
	</div>
	<div id="twitter" class="notice">
		{% include twitter.html %}
	</div>
	<div id="Links" class="notice">
		<h3>Links</h3>
		<div class="sponsor"><a href="https://www.ieee.org/index.html"><img src="/images/ieee.png" alt="IEEE" title="IEEE" /></a></div>
		<div class="sponsor"><a href="http://www.u-aizu.ac.jp/en/"><img src="/images/u-aizu.png" alt="u-Aizu" title="u-Aizu" /></a></div>
		<!-- <div class="sponsor"><a href="http://iphonespring2011.crowdvine.com/"><img src="/images/125x125VTM2011.jpg" alt="Voices That Matter" title="Voices That Matter" /></a></div> -->
	</div>
</div>
